@media (max-width: 1020px) {
    body {
        width: 100%;
    }
    .list-item:nth-child(1) {
        margin-left: 0;
    }
    .list-item:nth-child(2) {
        margin-left: 0;
    }
    .logo-container {
        margin-right: 0;
    }
    .list-item:nth-child(4) {
        margin-right: 0;
    }
    .list-item:nth-child(5) {
        margin-right: 0;
    }

/*===================HEADER==================*/

    @media (max-width: 450px) {
        .navigation {
            width: 82.4%;
        }
        .list-item:nth-child(2):before,
        .list-item:nth-child(5):before {
            content: "";
        }
    }
    
    @media (max-width: 380px) {
        .navigation {
            width: 95%;            
        }
        .menu {
            justify-content: space-around;
            font-size: 50%;            
            letter-spacing: 0.5px;
        }
    }

/*===================PORTFOLIO====================*/

    .top-line-container {
        padding: 11px 2.9% 0 2.9%;
    }
    .top-line {
        width: 40.2%;
    }
    .bottom-line {
        width: 94.1%;
    }
    .hexagon-wrap {
        flex-direction: column;
        overflow: auto;
        width: 100%;
        height: 69%;
        margin-top: 119px;
        margin-bottom: 58px;
    }
    .vertical-line.v-l-left {
        display: none;
    }
    .vertical-line.v-l-right {
        display: none;
    }
    .hexagon-container .hexagon {
        margin-top: 0;
    }
    .hexagon-container .hexagon {
        margin-left: 0;
        margin-right: 0;
    }

/*===================INFO=================*/

    @media (max-width: 910px) {

        .info-wrap {
            width: 92%;
            height: 316px;
            padding: 52px 2% 0 2%;
        }
        
        .info-container .hexagon {
            display: none;
        }
        .adaptive-person-img {
            display: inline-block;
            width: 45%;
        }

        .text-wrap {
            width: 53%;
        }

        .social-panel {
            width: 35%;
            height: 9%;
            margin-left: 65%;
        }
        .social-panel img {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 660px) {
            .social-panel {
                width: 42%;
                height: 8%;
                margin-left: 58%;
            }
            .text-wrap p {
                height: 47%;
            }
            .adaptive-person-img {
                width: 45%;
                height: 70%;
            }
        }

        @media (max-width: 483px) {
            .info-wrap {
                padding-top: 10px;
            }

            .adaptive-person-img {
                align-self: center;
                width: 45%;
                height: 50%;
            }
        }

        @media (max-width: 414px) {

            .info-container {
                padding-top: 10px;
            }

            .info-wrap {
                padding-top: 5px;
            }

            .info-container .hexagon {
                display: none;
            }

            .text-wrap {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap; 
            }

            .person-img {
                display: inline-block;
                justify-self: center;
                width: 90%;
                height: 40%;
                margin: 0 auto;
                margin-top: 10px;
                order: 1;
            }

            .text-wrap h3 {            
                font-size: 27px;
                text-align: center;
                order: 0;
            }
            .subtitle {
                font-size: 15px;
                text-align: center;
                order: 0;
            }

            .text-wrap p {
                width: 100%;
                height: 50%;
                margin-top: 5px;
                margin-bottom: 10px;
                padding: 0 5px;
                line-height: 20px;
                order: 2;
            }

            .social-panel {
                width: 70%;
                height: 9%;
                margin: 0 auto;
                order: 3;    
            }      
        }
    }
    
    /*=============Footer================*/
    .border-wrap {
        width: 94%;
    }

    @media (max-width: 860px) {
        .content-box {
            width: 100%;
        }
        .in-touch-form {
            width: 73.2%;
            margin-right: 20px;
        }
        .button-submit {
            margin-left: 84.4%;
            width: 15.5%;
        }

        @media (max-width: 600px) {
            .button-submit {
                margin: 0 auto;
                width: 40%;
            }
        }
        @media (max-width: 414px) {
            .form-h3 {
                font-size: 27px;
                text-align: center;
            }
            .form-subtitle {
                font-size: 15px;
                text-align: center;
            }
            .border-wrap {
                padding-top: 10px;
            }
            .form-wrap {
                flex-direction: column;
            }
            .in-touch-form {
                margin-top: 10px;
                width: 100%;
            }
            textarea.input {
                height: 76px;
            }
            .button-submit {
                width: 100px;
                height: 30px;
                margin: 0 auto;
            }
            .form-aside {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
            .aside-article {
                width: 50%;
            }
            .contacts-list {
                margin-top: 0;
            }
        }
    }

}